@keyframes App-logo-spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}

.App-logo {
    animation: fa-spin infinite 40s linear;
    -webkit-animation: fa-spin infinite 40s linear;
    /*height: 80px;*/
}

.App-header {
    margin-right: -15px;
    margin-left: -15px;
    background-color: #222;
    height: 150px;
    padding: 20px;
    color: white;
}

.page-header .App-logo {
    margin-bottom: 20px;
    /*margin: 20px;*/
    /*font-size: 1.5em;*/
    /*vertical-align: middle;*/
}

.App .page-header {
    padding-bottom: 30px;
}
