.rc-collapse {
    box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
    border-color: #d6e9c6;
}

.rc-collapse .rc-collapse-item .rc-collapse-header {
    background-color: #dff0d8;
    color: #3c763d;
}

.rc-collapse .rc-collapse-item .rc-collapse-header .arrow {
    border-top: 3px solid transparent;
    border-left: 4px solid #3c763d;
}

.rc-collapse .rc-collapse-item-active .rc-collapse-header .arrow {
    border-top: 4px solid #3c763d;
    border-left: 3px solid transparent;
}
